.getting_started
{
    fill:white;
}
svg g text {
    font-size: 0.1em;
    fill: #FFFFFF;
    fill-opacity:1;
    transition: fill-opacity .2s;
    cursor: pointer;
    display:flex;
  }
.getting_started>svg g polygon
{
    fill: aqua;
}