.recommendedvideos
{
    flex:0.8;
    background-color:#212a4950 ;
    padding: 40px 20px;
    padding-bottom: 0;
    color:white;
}
.recommendedvideos_videos
{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.recommendedvideos_videos::-webkit-scrollbar
{
    display: none;
}